body {
  margin: 0;
  padding: 20px;
  background: white;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 980px;
  margin: auto;
}

.left-grid {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.right-stack {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  gap: 12px;
}

.small-row {
  align-items: flex-end;
}

.box {
  border: 1px solid black;
  box-sizing: border-box;
}


.b1 { background-color: #b17a56; }
.b2 { background-color: #ffe34d; }
.b3 { background-color: #4d55d4; }
.b4 { background-color: #ffb3d4; }
.b5 { background-color: #4db34d; }
.b6 { background-color: #c6e24d; }
.b7 { background-color: #7fa6d4; }
.b8 { background-color: #a34da3; }
.b9 { background-color: #4dd47f; }


.wide        { flex: 4; height: 100px; }
.mid-wide    { flex: 2; height: 80px;width: 90%;}
.small       { width: 60px; height: 60px; }
.tall        { flex: 1; height: 160px; }
.small-wide  { height: 48px; width: 100%; }
.wide-short  { height: 80px; width: 100%; }

.b3{
    transform: translate(0px,-70px);
}
.b9{
    transform: translate();
}